.flex-container {
    display: flex;
    width: 100px;
    height: 34px;
}

.button{
    background-color: #b214b8;
    color: black;
    border: 2px solid #b214b8; /* Green */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: white;
    outline: thin dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px !important;
}

.button:hover {
    background-color: #d222d8;
    color: rgb(255, 255, 255);
    border: 2px solid #b214b8; /* Green */
}

.button:active {
    background-color: #ffffff; /* Green */
    color: #b214b8;
    border: 2px solid #b214b8;
  }

.buttonBorderLeft {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.buttonBorderRight {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.box{
    background-color: #ffffff; /* Green */
    color: #b214b8;
    border-top: 2px solid #b214b8;
    border-bottom: 2px solid #b214b8;
    height: 34px;
    width: 35px;
    
   
}

.p{
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 25% !important;
    font-size: 20px;
}